<div class="footer mt-16 h-auto w-full grid xl:grid-cols-2 justify-center items-center bg-white text-black">
    <div class="flex justify-center items-center">
      <span class="text-2xl font-mono font-bold">Eusebio Martín López</span>
    </div>
    <div class="grid grid-rows-3 justify-center items-center">
      <span class="text-2xl font-mono font-bold">usemartin2&#64;gmail.com</span>
      <a href="https://github.com/useemtn" target="_blank" class="text-2xl font-mono font-bold">GitHub</a>
      <a href="https://www.linkedin.com/in/eusebio-mart%C3%ADn-5b0aa72b0/" target="_blank" class="text-2xl font-mono font-bold">LinkedIn</a>
    </div>
  </div>
