:host {
    display: block;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, white, rgba(0, 0, 0, 0.884));
    background-size: 200% 200%;
    animation: gradientShift 50s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}