<div class="top-0 sticky bg-white w-full h-auto flex justify-evenly items-center border-b-2 border-b-black p-1 z-50">
    <a href="mailto:usemartin2@gmail.com" target="_blank">
      <div class="flex justify-center items-center h-9 w-9 hover:scale-110 ease-in duration-300">
        <img src="/correo.png" alt="email" />
      </div>
    </a>
    <a href="https://github.com/useemtn" target="_blank">
      <div class="flex justify-center items-center h-9 w-9 cursor-pointer hover:scale-110 ease-in duration-300">
        <img src="/github.png" alt="github" />
      </div>
    </a>
    <a href="https://www.linkedin.com/in/eusebio-mart%C3%ADn-5b0aa72b0/" target="_blank">
      <div class="flex justify-center items-center h-9 w-9 hover:scale-110 ease-in duration-300">
        <img src="/linkedin.png" alt="linkedin" />
      </div>
    </a>
  </div>
